html, body {
	/* para que quepa todo el mapa */
	margin: 0px;
	padding: 0px;
	height:100vh;
	width:100vw;

	font-family: monospace;
}

/* pone el logo del tec en una esquina */
#tec-logo { 
	position: fixed;
	top: 0px;
	right: 0px;

	width: 20vw;
	margin:1rem;

	opacity: .5;
	pointer-events:none;
}

.content-wrapper {
	display: flex;
	flex-direction: column;
	position:relative;
	/* justify-content: space-between; */

	width: 100%;
	height: 100%;
}

.map-wrapper {
	flex-grow: 1;
	height: 100%;

	#map {
		background-color: #f0f0f0;
		image-rendering: pixelated;
	}
	svg {
		shape-rendering: crispEdges;
		image-rendering: pixelated;
	}
}



/* DIVICONS */
#map .leaflet-div-icon {
	display: flex;
	
	justify-content: center; 
	align-items: center;
	border: 0;
	padding: 0;
	overflow: visible;
	
	& p {
		color:white;
		font-weight: 900;
		font-family: consolas;

		text-align: center;
		text-shadow: 0px 1.5px 0 gray;
	}
}

/* TABS DE MAPAS */
#mapas-tab {
	padding: 0;
	height: calc(35vw + 1.5rem);
	color: gray;
	
	overflow:hidden;
	background-color: rgb(249, 249, 249);
	
	image-rendering: pixelated;
	transition: height .1s;

	.mapas-tab-show-wrapper {
		position:relative;
		margin: 0;
		padding: 0;
		height: 1.5rem;
		text-align: center;
		vertical-align: middle;

		background-color: white;
		border-top: 2px solid rgb(202, 202, 202);
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

		span {
			display: block;
			position:absolute;
			text-align: center;
			width: 100%;
			height: 100%;
			top: 0px;
		}
		a {
			display: block;
			position: absolute;
			left: 5px;
			top: 0px;
		}
		#show-mapas {
			display: block;
	
			margin: 0;
			height: 100%;
			width: 100%;
	
			opacity: 0;
		}
	}

	.mapas-tab-opciones-wrapper {
		padding: 0;
		display:flex;
		align-items: center;
		justify-content: center;
		font-weight: 800;
		overflow: hidden;
		flex-flow: wrap;
		height: 100%;
		
		.opcion-mapa {
			color:#9f9f9f;
			position: relative;
			width: 20vw;
			height: 100%;
			padding-top: .5rem;
			padding-left: .5rem;
			padding-right: .5rem;
			text-align: center;
			
			font-size: 1.67vw;

			input[type="radio"] {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;

				opacity: 0;
			}

			img {
				width: 100%;
				border-radius: 1rem;
				border: 2px solid white;

				box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
				filter: grayscale(100%) contrast(60%);

				transition: filter .5s;
				padding-top: .5rem;
			}

			span {
				width: 100%;
				position:absolute;
				top: 15px;	
				left: 0px;
				color: white;
			}

		}

		.opcion-mapa:has(input[type="radio"]:checked) {
			color:gray;
			img {
				filter: none;
			}
		}
	}


	&:has(#show-mapas:checked) {
		height: 1.5rem;
	}


}

@media screen and (min-width: 32rem) {
	#mapas-tab {

		height: 15rem;
		overflow:hidden;
		
			
		.mapas-tab-show-wrapper {
			height: 1.5rem;
	
			span {
				display: block;
				position:absolute;
				text-align: center;
				width: 100%;
				top: 0px;
			}
			#show-mapas {
				display: block;
		
				margin: 0;
				height: 100%;
				width: 100%;
		
				opacity: 0;
			}
		}
	
		.mapas-tab-opciones-wrapper {
			.opcion-mapa {
				width: 6rem;
				height: 100%;
				text-align: center;
				font-weight: 600;

				padding-top: 1rem;
				padding-left: 1rem;
				padding-right: 1rem;

				font-size: inherit;

				img {
					padding-top: 0;
				}

				span {
					position:initial;
					color: inherit;
				}
			}
		}
	
	
		&:has(#show-mapas:checked) {
			height: 1.5rem;
		}
	
	}
}

.leaflet-image-layer {
	z-index: -1000;
}