html, body {
	/* para que quepa todo el mapa */
	margin: 0px;
	padding: 0px;
}


/* GENERAL */
#tec-logo {
	position: fixed;
	top: 0px;
	right: 0px;

	width: 20vw;
	margin:1rem;

	opacity: .5;
	pointer-events:none;
}

svg {
	shape-rendering: crispEdges;
	image-rendering: pixelated;
}
#map {
	background-color: #B8DEE6;
	image-rendering: pixelated;
}